.tweetable_follow {
	display: block;
	margin: 6px 6px 0 6px;
	font-weight: bold;
}

.tweetable_latest_tweets {
	margin: 6px 6px 0 6px;
	padding:0;
}

.tweetable_latest_tweets li {
	margin: 0;
	width: 100%;
	list-style:none;
	border-bottom:1px dashed #9a9898;
	padding: 6px 0 6px 0;
}

.twitter_status {
	width: 100%;
	display:block;
	margin: 0;
	padding: 0;
}

.twitter_meta {
	display: block;
	font-size: 0.8em;
	font-style: italic;
	color: #9a9898;
}